body
{
    background: rgba(35, 35, 35, 1);
    color: white;
}

.title
{
    font-family: Hanley Pro Script;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
}

.frequency-options
{
    display: flex;
}

.option-button
{
    width: auto;
    height: auto;
}

.multiColorBar
{
    height: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(to right, gray, red, orange, blue, green);
}