@font-face {
    font-family: 'power symbol';
    src: url('/fonts/Unicode_IEC_symbol.woff2') format('woff2'),
         url('/fonts/Unicode_IEC_symbol.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Staatliches', cursive;
    font-size: medium;
    background: rgb(48, 48, 48);
    color: white;
    display: flex;
    flex-direction: column;
}

/* .title
{
    font-family: 'Lobster';
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    color:rgb(145, 145, 145);
    margin: 0px;
    text-shadow: 2px 2px black;
} */

::selection
{
    color: none;
    background: none;
}

.enable-button
{
    font-family: 'power symbol';
    font-size: 50px;
    color: rgb(0, 132, 255);
    background-color: transparent;
    border-style: none;
}

.enable-button:hover
{
    cursor: pointer;
}

.disable-button
{
    font-family: 'power symbol';
    font-size: 50px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-style: none;
}

.disable-button:hover
{
    cursor: pointer;
}

/* .frequency-options
{
    display: flex;
    padding: 5px;
}

.disable-option
{
    display: flex;
    padding: 5px;
}

.dark-mode-toggle
{
    margin: auto 0 auto auto;
}

.option-button
{
    width: 111px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color:rgb(56, 55, 55);
    color: rgb(145, 145, 145);
    background: rgb(41, 41, 41);
}

.option-button:not(:last-child)
{
    margin-right: 5px;
}

.option-button:hover
{
    color:rgb(255, 255, 255);
}

.option-button:active
{
    background: rgb(61, 61, 61);
} */

/* .multiColorBar
{
    height: 3px;
    border: 0px solid black;
    border-radius: 8px;
    background: linear-gradient(to right, white, gray);
}

.switch
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: rgb(41, 41, 41);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .sliderBefore
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:focus + .slider
{
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider.before
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.custom-shape-divider-bottom-1623284661 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623284661 svg {
    position: relative;
    display: block;
    width: calc(100% + 5.0px);
    height: 35px;
}

.custom-shape-divider-bottom-1623284661 .shape-fill {
    fill: rgb(108, 108, 243);
} */