body
{
    background: rgb(27, 27, 27);
    color: white;
}

.title
{
    font-family: Hanley Pro Script;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
}

.frequency-options
{
    display: flex;
    padding: 5px;
}

.option-button
{
    width: 111px;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color:rgb(56, 55, 55);
    color: rgb(145, 145, 145);
    background: rgb(41, 41, 41);
}

.option-button:not(:last-child)
{
    margin-right: 5px;
}

.option-button:hover
{
    color:rgb(255, 255, 255);
}

.option-button:active
{
    background: rgb(61, 61, 61);
}

.multiColorBar
{
    height: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(to right, gray, red, orange, blue, green);
}